# Necessary IBM App ID Configuration
APPID_CLIENT_ID=your-client-id-here
APPID_TENANT_ID=your-tenant-id-here
APPID_OAUTH_SERVER_URL=https://us-south.appid.cloud.ibm.com/oauth/v4/your-tenant-id-here
APPID_REQUIRED_SCOPE=appid_default

# Feature Controls
APPID_AUTH_ENABLED=true
PROTECT_DOCS=false

# IBM Watson / AI Model Configuration
IBM_API_KEY=your-ibm-api-key-here
IBM_BASE_URL=https://us-east.rhai.ibm.com/v1/projects/your-project-id/inference
GEMINI_MODEL_NAME=gemma-4-31b-it

# Path Configuration
POPPLER_PATH=C:\poppler-26.02.0\Library\bin
PDF_FOLDER_PATH=C:\Data\Quotes

# Database / System Configuration
DATABASE_URL=postgresql://username:password@localhost:5432/evco_quotes
IQMS_BASE_URL=https://evco.iqtrain.iqms-cloud.net/WebAPI
IQMS_APPLICATION_NAME=WebAPI
IQMS_USERNAME=AIAPI
IQMS_PASSWORD=Airwaves8#
